.github-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  font-size: 1.2em;
  flex: 1;
  margin: 0 10px;
}

.repo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.repo-group h2 {
  cursor: pointer;
  width: 99%;
  background-color: #ddd;
  padding: 10px;
  border-radius: 4px;
}

.pull-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.card {
  position: relative;
  width: 30%;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-list {
  position: relative;
  width: 95%;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-draggable {
  position: relative;
  width: 90%;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-animation{
  transition: 0.2s;
}

.card-animation:hover{
  transform: scale(1.03);
  box-shadow: 0 0 5px black;
}

.card-dragging{
  background-color: rgba(89, 110, 131, 0.404); 
}c

.drop-over-effect{
  background-color: aqua;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.card-header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem ;
  background-color: #f5f5f5;
}

.user-info__img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info__img-list {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.go-link {
  margin-left: auto;
}

.go-link img {
  width: 24px;
  height: 24px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.review-label {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0;
}

.review-label.approved {
  background-color: #4CAF50;
  color: white;
}

.review-label.needs-review {
  background-color: #FFA726;
  color: white;
}
.review-label.total {
  background-color: #575554c4;
  color: white;
}
