.github-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2em;
  flex: 1;
  margin: 0 10px;
}

.repo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.repo-group h2 {
  cursor: pointer;
  width: 99%;
  background-color: #ddd;
  padding: 10px;
  border-radius: 4px;
}

.pull-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.card, .card-list, .card-draggable {
  position: relative;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
}

.card {
  width: 30%;
}

.card-list {
  width: 97%;
}

.card-draggable {
  width: 90%;
}

.card-animation {
  transition: 0.2s;
}

.card-animation:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-dragging {
  background-color: rgba(89, 110, 131, 0.404);
}

.drop-over-effect {
  background-color: aqua;
}

.card-header, .card-header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #c7c7c7;
}

.card-header-list {
  padding-left: 1rem;
}

.user-info__img, .user-info__img-list {
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info__img {
  width: 50px;
  height: 50px;
}

.user-info__img-list {
  width: 25px;
  height: 25px;
}

.card-body {
  padding: 10px;
}

.go-link {
  margin-left: auto;
}

.go-link img {
  width: 24px;
  height: 24px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.review-label {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0;
}

.review-label.approved {
  background-color: #66BB6A;
  color: white;
}

.review-label.needs-review {
  background-color: #FF8A65;
  color: white;
}

.review-label.total {
  background-color: #dcedc1;
  color: #2a2a2a;
}

.no-prs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  margin-top: 5em;
}

.no-prs-container .no-prs-message {
  color: rgba(200, 221, 243, 0.699);
  font-size: 1.5rem;
  margin-top: 3rem;
}

.no-prs-message {
  color: rgba(200, 221, 243, 0.699);
  font-size: 24px;
  margin-top: 20px;
}

.no-prs-container .flex {
  width: 5rem;
  height: 5rem
}

.pr-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pr-badge {
  display: inline-block;
  margin-left: 10px;
  padding: 3px 8px;
  border-radius: 12px;
  background-color: #7B7B7B;
  color: white;
  font-size: 0.9em;
  margin-right: 10px;
}

.repo-title {
  display: flex;
  align-items: center;
}

.repo-name {
  flex-grow: 1;
  margin-right: 10px;
}
